In [34]:
import pandas as pd
from pandas import DataFrame

df = pd.DataFrame({'Chips': ['Simba', 'Lays', 'Nik naks', 'Doritos', 'Bubbles'],
       'Quantity of chips': [40,50,80,75,70],
          'Cost per chips': ['R15','R20','R10','R16','R12'],
               'Coodrinks': ['Coke', 'Fanta', 'Sprite', 'Score', 'Schweppes'],
      'Quantity of drinks': [200,250,180,175,170],
          'Cost per drink': ['R20','R18','R16','R10','R15'],         
               'Chocolate': ['Cadbury', 'Tex', 'Lindt', 'Mars', 'Kit Kat'],
   'Quantity of Chocolate': [300,250,180,275,270],
      'Cost per Chocolate': ['R15','R18','R30','R20','R20'],    
                    'Pies': ['Repper Steak', 'Chicken', 'Steak and kidney','Cherry Pie', 'Pumpkin Pie'],
        'Quantity of Pies': [100,250,80,175,170],
           'Cost per Pies': ['R18','R18','R18','R18','R18'], 
                   'Fruit': ['Pear','Apple', 'Orange', 'Pineapple', 'Avocado'],
       'Quantity of Fruit': [300,250,180,75,170],
          'Cost of Fruit':  ['R25','R28','R20','R6','R7'], 
                'Cupcakes': ['Vanilla', 'Chocolate', 'Oreo', 'Strawberry', 'Red Velvet'],
    'Quantity of Cupcakes': [150,250,180,175,170],
       'Cost per Cupcakes': ['R5','R7','R6','R10','R8'], 
                 'Veggies': ['Spinach', 'Cabbage', 'Cauliflower', 'Sweet corn', 'Lettuce'],
     'Quantity of Veggies': [200,250,180,175,170],
        'Cost per Veggies': ['R10','R15','R20','R25','R15'], 
                   'Meats': ['Lamb', 'Pork', 'Chicken', 'Turkey', 'Beef'],
       'Quantity of Meats': [500,350,180,375,470],
          'Cost per Meats': ['R200(2kg)','R100','R200(5kg)','R50','200'], 
               'Household': ['Wordrobes', 'Bedding', 'Blankets', 'clothes dryers', 'cooking utensils'],
   'Quantity of Household': [150,250,180,175,170],
      'Cost per Household': ['R2000','R150-R300','R200','100','R50-R150'], 
     'Personal care items': ['Colognes', 'Makeup', 'Facial cleanser', 'Pads', 'Moisturizer'],
'Quantity of Personal care items': [100,150,180,175,170],
   'Cost per Personal care items': ['R120-R200','R300','R170','R25','R30'], 
                  'Sweets': ['Gummies', 'Hard Candies','Licorice', 'Lollipops and Sours', 'Chewing gums'],
      'Quantity of Sweets': [200,250,180,175,170],
         'Cost per Sweets': ['R20(pack)','R18(pack)','R16','R10','R25']})

In [35]:
df

,Chips,Quantity of chips,Cost per chips,Coodrinks,Quantity of drinks,Cost per drink,Chocolate,Quantity of Chocolate,Cost per Chocolate,Pies,...,Cost per Meats,Household,Quantity of Household,Cost per Household,Personal care items,Quantity of Personal care items,Cost per Personal care items,Sweets,Quantity of Sweets,Cost per Sweets
0,Simba,40,R15,Coke,200,R20,Cadbury,300,R15,Repper Steak,...,R200(2kg),Wordrobes,150,R2000,Colognes,100,R120-R200,Gummies,200,R20(pack)
1,Lays,50,R20,Fanta,250,R18,Tex,250,R18,Chicken,...,R100,Bedding,250,R150-R300,Makeup,150,R300,Hard Candies,250,R18(pack)
2,Nik naks,80,R10,Sprite,180,R16,Lindt,180,R30,Steak and kidney,...,R200(5kg),Blankets,180,R200,Facial cleanser,180,R170,Licorice,180,R16
3,Doritos,75,R16,Score,175,R10,Mars,275,R20,Cherry Pie,...,R50,clothes dryers,175,100,Pads,175,R25,Lollipops and Sours,175,R10
4,Bubbles,70,R12,Schweppes,170,R15,Kit Kat,270,R20,Pumpkin Pie,...,200,cooking utensils,170,R50-R150,Moisturizer,170,R30,Chewing gums,170,R25

In [36]:
df.to_csv('myfile.csv', index=False,

SyntaxError: unexpected EOF while parsing (<ipython-input-36-254970b191b7>, line 1)

In [37]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\student-cpt-087\appdata\local\continuum\anaconda3\lib\site-packages (0.9.3)
Note: you may need to restart the kernel to use updated packages.

In [38]:
pip install MySQL

Requirement already satisfied: MySQL in c:\users\student-cpt-087\appdata\local\continuum\anaconda3\lib\site-packages (0.0.2)
Requirement already satisfied: mysqlclient in c:\users\student-cpt-087\appdata\local\continuum\anaconda3\lib\site-packages (from MySQL) (1.4.6)
Note: you may need to restart the kernel to use updated packages.

In [39]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\student-cpt-087\appdata\local\continuum\anaconda3\lib\site-packages (1.3.9)
Note: you may need to restart the kernel to use updated packages.

In [40]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\student-cpt-087\appdata\local\continuum\anaconda3\lib\site-packages (0.9.3)
Note: you may need to restart the kernel to use updated packages.

In [41]:
import pandas as pd
import sqlalchemy
import matplotlib.pyplot as plt
import numpy as np

In [47]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Tembale2!"
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001704248E808>

In [52]:
engine = sqlalchemy.create_engine("mysql+pymysql://root:Tembale2!@localhost:3306/mydatabase")

In [54]:
df.to_sql('my_sprint_data', engine)